html {
  font-size: 10px;
  scroll-behavior: smooth;
  @include md-desk-only {
    font-size: 8px;
  }
  @include sm-desk-only {
    font-size: 7px;
  }
  @include limbo-only {
    font-size: 6px;
  }
  @include tab-only {
    font-size: 6px;
  }
  @include mob-only {
    font-size: 5px;
  }
  :where(.wp-block) {
    max-width: 90%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: var(--title-line-height);
    margin-bottom: var(--title_margin_bottom_ld);
    @include tab-max {
      margin-bottom: var(--title_margin_bottom_mt);
    }
  }
}
main {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}
.site-main, .interface-interface-skeleton__content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Font Primary',
  }
  div, p, a {
      font-family: 'Font Primary';
  }
  p, li {
    margin-top: 0;
    font-size: var(--body-size);
  }
  p {
    font-size: 2rem;
    @include limbo-max {
      font-size: 16px;
    }
 }
 a {
  font-size: 18px;
 }
h2 {
  font-size: var(--title-size-2-ld);
  @include tab-max {
    font-size: var(--title-size-2-mt);
  }
}
h3 {
  font-size: var(--title-size-3-ld);
  @include tab-max {
    font-size: var(--title-size-3-mt);
  }
}
h4 {
  font-size: var(--title-size-4-ld);
  @include tab-max {
    font-size: var(--title-size-4-mt);
  }
}
h5 {
  font-size: var(--title-size-5-ld);
  @include tab-max {
    font-size: var(--title-size-5-mt);
  }
}
h6 {
  font-size: var(--title-size-5-ld);
  @include tab-max {
    font-size: var(--title-size-5-mt);
  }
}
}
.container {
  width: var(--site-width);
  max-width: var(--site-max-width);
  margin: auto;
}

.custom-social-icons {
  display: flex;
  align-items: center;
  margin-top: 4.8rem;
  a:not(:last-child) {
    margin-right: 15px;
  }
}

.contact-us-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .contact-us-socials-single {
    width: 100%;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
    a {
      color: var(--color-1);
      font-weight: 400;
      text-decoration: none;
      text-align: left;
    }
    @include mob-only {
      margin-top: 15px;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    @include tab-min {
      &:nth-child(1) {
        width: 46%;
        justify-content: flex-end;
      }
      &:nth-child(2) {
        width: 52%;
        justify-content: flex-start;
      }
      &:nth-child(3) {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
      }
    }
    @include tab-only {
      &:nth-child(1) {
        width: 43%;
      }
    }
  }
}

.meet-our-donors-hero-btns {
  display: flex;
  align-items: center;
  @include mob-only {
    align-items: flex-start;
    flex-direction: column;
  }
  a.il_btn:first-of-type {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 7rem;
    @include mob-only {
      margin-bottom: 10px;
    }
    img {
      margin-right: 2.5rem;
    }
    span {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 10px 40px 10px 0;
      font-weight: bold;
    }
  }
}