.il_section {
  padding-top: var(--b-space-top-ld);
  padding-bottom: var(--b-space-bottom-ld);
  padding-left: var(--b-space-left-ld);
  padding-right: var(--b-space-right-ld);
  @include limbo-max {
    padding-top: var(--b-space-top-mt);
    padding-bottom: var(--b-space-bottom-mt);
    padding-left: var(--b-space-left-mt);
    padding-right: var(--b-space-right-mt);
  }
  &.info-box-width-75 {
    @include limbo-min {
      .il_block_intro {
        flex: 73% 0 0;
      }
      .right {
        flex: 23% 0 0;
      }
    }
  }
  &.info-box-width-70 {
    @include limbo-min {
      .il_block_intro {
        flex: 68% 0 0;
      }
      .right {
        flex: 28% 0 0;
      }
    }
  }
  &.info-box-width-65 {
    @include limbo-min {
      .il_block_intro {
        flex: 63% 0 0;
      }
      .right {
        flex: 33% 0 0;
      }
    }
  }
  &.info-box-width-60 {
    @include limbo-min {
      .il_block_intro {
        flex: 58% 0 0;
      }
      .right {
        flex: 38% 0 0;
      }
    }
  }
  &.info-box-width-55 {
    @include limbo-min {
      .il_block_intro {
        flex: 53% 0 0;
      }
      .right {
        flex: 43% 0 0;
      }
    }
  }
  &.info-box-width-50 {
    @include limbo-min {
      .il_block_intro {
        flex: 48% 0 0;
      }
      .right {
        flex: 48% 0 0;
      }
    }
  }
}

.il_section_inner {
  padding-top: var(--b-inner-sec-space-top-ld);
  padding-bottom: var(--b-inner-sec-space-bottom-ld);
  padding-left: var(--b-inner-sec-space-left-ld);
  padding-right: var(--b-inner-sec-space-right-ld);
  @include tab-max {
    padding-top: var(--b-inner-sec-space-top-mt);
    padding-bottom: var(--b-inner-sec-space-bottom-mt);
    padding-left: var(--b-inner-sec-space-left-mt);
    padding-right: var(--b-inner-sec-space-right-mt);
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  .il_block_bg {
    z-index: -1;
    @include ab-bg;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .desk_bg {
      z-index: -1;
      @include tab-max {
        &.hide_desk_bg_mob {
          display: none;
        }
      }
    }
    .mob_bg {
      z-index: -1;
      @include limbo-min {
        display: none;
      }
    }
    .bg_element {
      position: absolute;
      z-index: -1;
      width: var(--bg-e-width-lg);
      height: var(--bg-e-height-lg);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-left: var(--bg-e-left-lg);
      margin-right: var(--bg-e-right-lg);
      margin-top: var(--bg-e-top-lg);
      margin-bottom: var(--bg-e-bottom-lg);
      @include tab-max {
        width: var(--bg-e-width-mt);
        height: var(--bg-e-height-mt);
        margin-left: var(--bg-e-left-mt);
        margin-right: var(--bg-e-right-mt);
        margin-top: var(--bg-e-top-mt);
        margin-bottom: var(--bg-e-bottom-mt);
        display: var(--bg-e-display-mobile);
      }
    }
  }
  > div {
    flex: 48% 0 0;
    position: relative;
  }
  &.ib-fullwidth {
    > div {
      flex-basis: 100%;
    }
    &.il_section_inner {
      justify-content: center;
    }
  }
  &.ib-custom-width {
    @include limbo-max {
      > div {
        flex-basis: 100% !important;
      }
    }
    @include desk-min {
      &.content-align-left {
        justify-content: flex-start;
      }
      &.content-align-center {
        justify-content: center;
      }
      &.content-align-right {
        justify-content: flex-end;
      }
    }
  }
  @include limbo-max {
    &.stack-tablet-reverse {
      > div {
        flex-basis: 100%;
      }
      .il_block_intro {
        order: 2;
      }
      .right {
        order: 1;
      }
    }
  }
  @include tab-max {
    &.stack-mobile-reverse {
      > div {
        flex-basis: 100%;
      }
      .il_block_intro {
        order: 2;
      }
      .right {
        order: 1;
      }
    }
  }
  &.ib-right {
    .il_block_intro {
      order: 2;
    }
    .right {
      order: 1;
    }
   @include limbo-max {
      &.stack-tablet-reverse {
        > div {
          flex-basis: 100%;
        }
        .il_block_intro {
          order: 1;
        }
        .right {
          order: 2;
        }
      }
    }
    @include tab-max {
      &.stack-mobile-reverse {
        > div {
          flex-basis: 100%;
        }
        .il_block_intro {
          order: 1;
        }
        .right {
          order: 2;
          text-align: right;
        }
      }
    }
  }
  &.stack-mobile {
    @include tab-max {
      > div {
        flex-basis: 100%;
      }
    }
  }
  &.stack-tablet {
    @include limbo-max {
      > div {
        flex-basis: 100%;
      }
    }
  }
}

.agenda-section {
  .timeslot {
    display: flex;
    align-items: center;
    margin-bottom: 4.8rem;
    font-size: 2.3rem;
    @include tab-max {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 8rem;
    }
    @include limbo-max {
      font-size: 16px;
    }
    .timeslot-time {
      color: var(--color-2);
      font-weight: 700;
      margin-left: 3.5rem;
      @include tab-max {
        width: 75%;
        border-bottom: 1px solid rgb(112 112 112 / 75%);
        padding-bottom: 1.5rem;
        margin-bottom: 2.5rem;
      }
      @include limbo-max {
        font-size: 20px;
      }
    }
    .timeslot-info {
      line-height: 1.4;
      @include tab-max {
        line-height: 24px;
      }
    }
  }
}

.il_section.thank-you-section {
  display: flex;
  min-height: calc(100vh - 10rem - 58px);
  @include mob-only {
    min-height: calc(100vh - 15rem - 74px);
  }
  @include tab-only {
    min-height: calc(100vh - 15rem - 57px);
  }
  @include limbo-only {
    min-height: calc(100vh - 15rem - 57px);
  }
  @include limbo-min {
    .intro_title {
      line-height: 1;
    }
  }
}